<h1> Welcome to Wordtopia </h1> 

<h3> Click any word to view its defintion</h3> 

<% if @word.any? %>
  <ul>
    <% @word.each do |w| %>
      <li><%= w.word %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently words in the database!</p>
<% end %>