<h1> Add a new word here</h1> 

<form action="/words" method="post">
  <div class="form-group">
    <label for="word">Enter a word</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Add new word</button>
</form>

<a href = "/"> Home Page </a>